meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="author" content="Alexander Kislov")
meta(name="copyright" content="Alexander Kislov")
meta(name="description" content="Tomato Timer")
meta(name="keywords" content="Tomato Timer, Timer")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="robots" content="index, follow")
title Tomato Timer
link(rel="shortcut icon" href="img/calculator.ico" type="image/x-icon")
link(rel="stylesheet" href="css/main.css" type = "text/css")
