doctype html
html(lang="en")
	head
		include templates/head
	body
		.contacts
			a(href="https://alexander-kislov.github.io/" target="_blank")
				.icon.icon-portfolio
			a(href="https://github.com/Farengeyt451" target="_blank")
				.icon.icon-github
		.timer
			.timer-controls
				.inputs
					.tooltip
						input(type="number", name="work", value="25", min="0", placeholder="work")
						span.tooltiptext Session Length
					.tooltip
						input(type="number", name="rest", value="5", min="0", placeholder="rest")
						span.tooltiptext Break Length
			.display
				h1.display-time-left
				p.display-end-time
			.buttons
				button(name="start-timer") Start
				button(name="pause-timer") Pause
		.wiki
			a(href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank")
				.icon.icon-wikipedia
		include templates/scripts
