doctype html
html(lang="en")
	head
		include templates/head
	body
		.contacts
			a(href="https://github.com/Farengeyt451" target="_self")
				.icon.icon-github
			a(href="https://alexander-kislov.github.io/" target="_self")
				.icon.icon-portfolio
			a(href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_self")
				.icon.icon-wikipedia
		.timer
			.timer-controls
				.inputs
					.tooltip
						input(type="number", name="work", value="25", min="0", placeholder="work")
						span.tooltiptext Session Length
					.tooltip
						input(type="number", name="rest", value="5", min="0", placeholder="rest")
						span.tooltiptext Break Length
			.display
				h1.display-time-left
				p.display-end-time
			.buttons-control
				button(name="start-timer") Start
				button(name="pause-timer") Pause
		.volume-control.icon-volume-on
		include templates/scripts
